/* =========================================
   MARS BEAUTY - GLOBAL RESET
========================================= */

:root {
  font-family: Arial, Helvetica, sans-serif;

  color: #20191a;
  background: #fffaf5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  min-width: 320px;
  min-height: 100vh;

  background: #fffaf5;
}

#root {
  width: 100%;
  min-height: 100vh;
}

button,
input {
  font-family: inherit;
}

img {
  max-width: 100%;
}